<div class="clients-logo-section section text-center">
  <div class="row">
    <div class="col-md-12">
    <p class="product-title">
      <strong>NUESTROS CLIENTES Y PARTNERS</strong>
    </p>        
    </div>
  </div>
  <div class="row" style="margin-top: 50px;">
    <div class="col-md-4 col-sm-4 col-xs-6">
      <a href="https://www.edpenergia.es/es/" target="blank">
      <img class="client-logo" src="https://e-save-images.s3.eu-central-1.amazonaws.com/vendor-logos/EDP-logo.png" alt="logo-edp">
      </a>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6">
      <a href="https://luzygas.ahorraconrepsol.com/" target="blank">
        <img class="client-logo" src="https://e-save-images.s3.eu-central-1.amazonaws.com/vendor-logos/logo_Repsol.png" alt="logo-repsol">
      </a>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6">
      <a href="https://watiofy.com/" target="blank">
        <img class="client-logo" src="https://e-save-images.s3.eu-central-1.amazonaws.com/vendor-logos/watiofy_logo.png" alt="logo-watiofy">
      </a>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6">
      <a href="https://luzsolidaria.es/" target="blank">
        <img class="client-logo" src="https://e-save-images.s3.eu-central-1.amazonaws.com/vendor-logos/luzsolidaria-logo.png" alt="logo-luzsolidaria">
      </a>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6">
      <a href="https://bulb.es/" target="blank">
        <img class="client-logo" src="https://e-save-images.s3.eu-central-1.amazonaws.com/vendor-logos/logo-bulb.png" alt="logo-bulb">
      </a>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <a href="https://imaginaenergia.com/" target="blank">
        <img class="client-logo" src="https://e-save-images.s3.eu-central-1.amazonaws.com/vendor-logos/imagina-logo.png" alt="logo-imagina">
      </a>
    </div>
  </div>
</div>