<div class="row titulo">
    <div class="col">
    <h3><%= t '.seleccionableTitulo' %></h3>
    </div>
</div>

<div class="row titulo">
    <div class="col-md-6 seleccion seleccion-1">
    <h4 class="seleccion-texto"><%= t '.seleccionable1' %></h4>
    </div>
    <div class="col-md-6 seleccion seleccion-2">
    <h4 class="seleccion-texto"><%= t '.seleccionable1' %></h4>
    </div>
</div>

<div class="row titulo" id="sub-selection-row">
    <div class="col-md-6 sub-seleccion seleccion-11">
    <h2 class="seleccion-texto">sub 1</h2>
    </div>
    <div class="col-md-6 sub-seleccion">
    <h2 class="seleccion-texto seleccion-12">sub 2</h2>
    </div>
</div>