/* footer */
.footer{
  padding-top: 30px;
  margin-top: 30px;
  background: #f1f1f1;
}

.footer .col-md-4{
  padding-left: 70px;
}

.footer h4{
  color: #245085;
  font-family: "Avenir Bold";
  font-size: 22px;
  line-height: calc(18px + 8px);
  letter-spacing: 0;
  margin: 10px 0;
}
.top-footer{
  min-height: 250px;
}

.top-footer img{
  height: 60px;
}
.top-footer .col-md-3 p{
  margin-bottom: 5px;
}
.footer-description{
  padding: 20px 0;
  font-weight: 500;
  font-size: 16px;
}

.contacto-footer, .servicio{
  font-size: 18px;
}

.rr-ss > a{
  font-size: 17px;
}

.subfooter a, .subfooter p{
  color:black;
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 5px;
}


.subfooter{
  background-color: #caf0f8;
  width: 100%;
  margin: 0;
  padding-top: 5px;
}

.subfooter .col-md-4{
  text-align: center;
}

@media (max-width: 768px){
  .footer .col-md-4{
    padding: 0 25px;
    text-align: center;
  }
  .footer .col-md-3{
    text-align: center;
  }
}
