/* formula */

.formula{
    text-align: center;
    margin-bottom: 50px;
  }
.operandos{
  min-height: 300px;
  position: relative;
}

.formula-intro{
  padding: 50px;
  background: #CAF0F8;
}


.opr1, 
.opr2, 
.opr3, 
.opr4 {
  position: relative;
  text-decoration: none!important;
}

.opr1:hover, 
.opr2:hover, 
.opr3:hover, 
.opr4:hover{
  background: rgba(0, 0, 0, 0.295);
  transition: all 0.3s ease-in-out;
}

.titulo-opr1,
.titulo-opr2,
.titulo-opr3,
.titulo-opr4{
  padding: 20% 10% 0 10%;
  color: #03045e;
  font-size: 26px;
  font-weight: 600;
}

.desc-opr1,
.desc-opr2,
.desc-opr3,
.desc-opr4{
  color: transparent;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
  padding: 0 10%;
  font-size: 18px;
}


.bg-hero{
  background: url(../media/placas-solares.jpg) no-repeat center center fixed;
  background-size: 100% auto;
  position: absolute;
  z-index: -1;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.30;
  width: 100%;
  height: 100%;
}

.bg-formula{
  background: url(https://e-save-images.s3.eu-central-1.amazonaws.com/landings-explicativas/tarifa-2.0TD/placas-solares.png) no-repeat center center;
  background-size: 100% auto;
  z-index: -1;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.titulo-opr1-md,
.titulo-opr2-md,
.titulo-opr3-md,
.titulo-opr4-md,
.desc-opr1-md,
.desc-opr2-md,
.desc-opr3-md,
.desc-opr4-md{
  margin: 10px auto;
  text-align: center;
  display: none;
}
.desc-opr1-md,
.desc-opr2-md,
.desc-opr3-md,
.desc-opr4-md{
  color: black;
}

@media (max-width: 768px){
  .titulo-opr1,
  .titulo-opr2,
  .titulo-opr3,
  .titulo-opr4{
    padding-top: 10px;
  }
  /*
  .titulo-opr1,
  .titulo-opr2,
  .titulo-opr3,
  .titulo-opr4,
  .desc-opr1,
  .desc-opr2,
  .desc-opr3,
  .desc-opr4{
    display: none;

  }

  .titulo-opr1-md,
  .titulo-opr2-md,
  .titulo-opr3-md,
  .titulo-opr4-md,
  .desc-opr1-md,
  .desc-opr2-md,
  .desc-opr3-md,
  .desc-opr4-md{
    display: block;
  }*/
}