<!-- SECCION HEADER -->
<section class="seccion-global">
  <section class="seccion-hero">
    <div class="container hero-content">
      <div class="row text-center">
        <div class="col">
          <div class="row titulo">
            <div class="col">
              <h1><%= t '.titulo' %></h1>
            </div>
          </div>
          <div class="row subtitulo">
            <div class="col">
              <h3><%= t '.subtitulo' %></h3>
            </div>
          </div>
          <div class="row img-descr-large">
            <img class="mx-auto" src="https://e-save-images.s3.eu-central-1.amazonaws.com/landings-explicativas/tarifa-2.0TD/tramos_energia.PNG" alt="Imagen tramos de energía">
          </div>
          <div class="row img-descr-small">
            <img class="col-12 mx-auto" src="https://e-save-images.s3.eu-central-1.amazonaws.com/landings-explicativas/tarifa-2.0TD/tramos_energia_s.jpeg" alt="Imagen 2.0TD">
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

